[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "assets/slitslider"]
	path = assets/slitslider
	url = https://github.com/codrops/SlitSlider.git
[submodule "assets/owl-carousel"]
	path = assets/owl-carousel
	url = https://github.com/OwlCarousel2/OwlCarousel2.git
[submodule "assets/jquery"]
	path = assets/jquery
	url = git://github.com/jquery/jquery.git
